*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
   }
.head{
    text-align: center;
    display: flex;
    justify-content:space-around;
    background-color: navy;
    height: 65px;
    padding: 0;
    margin: 0;
}
#xy{
    font-size:xx-small;
    padding-top: 5px;
    /* font-weight: bold; */
}
.heading{
    background-color: white;
    border:1px solid red;
    width: 250px;
    height: 30px;
    margin-top: 15px;
    padding-top: 2px;
}

.mid{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.Sel{
    display:flex;
    justify-content: space-between;
    padding: 15px;
}
#b{
    color: white;
    background-color: black;
}
.title{
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: large;
}
.img{
    /* width: 10px;
    height: 10px; */
    margin-left: 10px;
    margin-right: 40px;
    /* background-color: rgb(135, 133, 142); */
}
img{
    width: 140px;
    height: 140px;
    float: left;
}
#imp{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: medium;
}
.conRead{
    margin-top: 10px;
    padding: 5px;
    background-color: orangered;
    color:white;
}
@media only screen and (min-width:750px) {
    .title{
        display: flex;
    }
}
.main{
    padding: 10px;
}